<div id="fh5co-footer" data-section="footer">
  {{ with .Site.Params.footer }}
    <div class="row social">
      <div class="container">
        <div class="col-xs-12">
          <h3>{{ .company | markdownify }}</h3>
        </div>
    </div>
  </div>

    <div class="row address">
      <div class="container">
        <div class="col-xs-12 col-md-3">
          <h5>Contact</h5>
          <ul class="footer-contact">
            <li><i class="icon-envelope"></i><a href="mailto:{{ .email }}">{{ .email }}</a></li>
            <li><i class="icon-phone"></i><a href="tel:{{ .phone }}">{{ .phone_prettified }}</a></li>
          </ul>
          <ul class="fh5co-social">
            {{ if isset . "github" }}
            <li><a href="{{ .github }}"><i class="icon-github"></i></a></li>
            {{ end }}
            {{ if isset . "twitter" }}
            <li><a href="{{ .twitter }}"><i class="icon-twitter"></i></a></li>
            {{ end }}
            {{ if isset . "facebook" }}
            <li><a href="{{ .facebook }}"><i class="icon-facebook"></i></a></li>
            {{ end }}
            {{ if isset . "vine" }}
            <li><a href="{{ .vine }}"><i class="icon-vine"></i></a></li>
            {{ end }}
            {{ if isset . "linkedin" }}
            <li><a href="{{ .linkedin }}"><i class="icon-linkedin"></i></a></li>
            {{ end }}
            {{ if isset . "instagram" }}
            <li><a href="{{ .instagram }}"><i class="icon-instagram"></i></a></li>
            {{ end }}
          </ul>

        </div>
        <div class="col-xs-12 col-md-3">
          <h5>Berlin Office</h5>
          <address>
            {{ .address | markdownify }}
          </address>
        </div>


        <div class="col-xs-12 col-md-3">
          <h5>Imprint</h5>
          <p class="footer-imprint">
            {{ .imprint | markdownify }}
          </p>
        </div>

        <div class="col-xs-12 col-md-3">
          <h5></h5>
          <a class="affiliate-logo" href="https://e-editiones.org/" target="_blank" rel="noreferrer" rel="noopener">
            <img src="images/member-of-editiones-color.svg" alt="Member of e-editiones">
          </a>
        </div>

      </div>
    </div>

  <div class="row imprint">
      <div class="container">
        <div class="col-xs-12">
            <small>
                {{ .copyright | markdownify }}
            </small>
        </div>
      </div>
    </div>
  {{ end }}
</div>
