<div id="fh5co-home" class="js-fullheight-home" data-section="home" style="background-image: url({{ with .Site.Params.hero.img }}{{ . | absURL }}{{ end }});" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="col-xs-12">
      <div class="js-fullheight-home fh5co-copy">
        <div class="js-fullheight-home fh5co-copy-inner">
            <img src="{{ with .Site.Params.hero.logo }}{{ . | absURL }}{{ end }}" alt="" class="img-responsive">
            {{ with .Site.Params.hero.title }}
              <h1>{{ . | markdownify }}</h1>
            {{ end }}

            {{ with .Site.Params.hero.description }}
              <h2>{{ . | markdownify }}</h2>
            {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>
